* {
  margin: 0;
}

html,
body {
  --white: #FFFFFF;
  --gray_300: #202024;
  --gray_200: #323238;
  --gray_100: #E1E1E6;


  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) repeat center/cover;
  width: 100vw;
  height: 100vh;
  min-height: 812px;
}

.container {
  max-width: 250px;
  margin: auto;
  text-align: center;
  color: var(--gray_100);
}

.avatar {
  position: relative;
  width: 10rem;
  margin: 11.5rem auto 0;
  
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  margin-top: 0.25rem;
  color: var(--gray_100);

  gap: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

.photo {
  height: 11.563rem;
  width: 11.563rem;
}

.icon {
  color: var(--white);
  background: var(--gray_200);
  padding: 0.76rem;
}